{% extends 'base.html' %}
{% block content %}

<div class="container  m-1 w-100">
  <h5 class="mt-5">results for {{searched}}:</h5>
  {% if searched %}
  {% for result in results %}
  <div class="card m-2">
    <div class="card-body">
      <h5>{{result.title}}</h5>
      <p class="card-text">{{result.user.First_Name}} {{result.user.Last_Name}}</p>
      <a href="/show_article/{{result.id}}" id="more" class="btn btn-secondary">more</a>
      <br>
    </div>
  </div>
  {%endfor%}
  {% endif %}
</div>
{% endblock %}