{% extends 'baseLogin.html' %}
{% block content %}

<body id="body" data-spy="scroll" data-target=".header">
    <header class="header navbar-fixed-top" id="welcome_website_name">
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="menu-container js_nav-item">
                    <div class="logo">
                        <a class="logo-wrap" href="">
                            <a class="navbar-brand" style="color:brown;"><i class="fa fa-code"
                                    style="font-size:36px"></i> Tech/articles</a>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="item">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40" id="welcome_text">
                    <h2 class="carousel-title" style="color:white ;">Welcome to Tech/article</h2>
                    <p class="color-white" style="color:white ;">A website that includes articles that help students to spread and share knowledge
                        <br />Get engage with technical articles </p>
                    
                    <button class="btn border rounded " id="welcom_btn"><a href="/index"
                            class="btn-theme btn-theme-sm text-uppercase" style="color:white;">login / sign
                            up</a></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
{% endblock %}